<!DOCTYPE html>
<html>
    <title>
        camps
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <body>
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <a class="navbar-brand" href="/">YelpCamp</a>
                      </div>      
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
                        <ul class="nav navbar-nav navbar-right">
                          <%if(!user){%>
                          <li><a href="/signup">Sign Up</a></li>
                          <li><a href="/login">Log In</a></li>
                          <%}else{%>
                            <li><a href="/"><strong>Hii <%=user.username%>!!</strong></a></li>
                          <li><a href="/logout">Log Out</a></li>
                          <%}%>
                            </ul>
                          </li>
                        </ul>
                      </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                  </nav>